/*
#jonSnow{
  padding: 25px 20px 25px 20px;
  border: solid green;
}
#jaimeLannister{
  padding: 25px 20px 25px 20px;
  border: solid green;
}
#robbStark{
  padding: 25px 20px 25px 20px;
  border: solid green;
}
#brienneTarth{
  padding: 25px 20px 25px 20px;
  border: solid green;
}
*/
body{
  background-image: url("../images/background.jpg");
  background-size: cover;
}

h3{
  color: white !important;
}

p {
  margin-bottom: 0 !important;
}
.card {
  position: relative;
  text-align: center;
  background-size: cover;
  background-color: white;
  padding-bottom: : 27px;
  border: solid green;
}
.bottom{
  margin-top: 250px;
  margin-left: 10px;
}
.results {
  color: white;
  margin-top: 250px;
}
.restartBtn{
  color: black;
}
#jonSnow{
  position: relative;
}
#jaimeLannister{
  position: relative;
}
#robbStark{
  position: relative;
}
#brienneTarth{
  position: relative;
}
#title{
  color: white;
}
